::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #9A9A9A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}