$alt-text-color: #fff;
$title-color: #656565;
$border-color: #afafaf;
$active-color: #3FDAE4;
$accent-input-color: #55CD70;
$error-color: #EB4545;

$header-table-font-color: #5E5E5E;
$header-table-border-color: #DADADA;
$header-table-bg-color: #EDEDED;
$accent-row-table-bg-color: #f5f5f5;
$table-text-color: #9A9A9A;
$active-table-color: #3FDAE4;