$accent-bg-color: #e7e7e7;
$profit-color: #21b438;
$lose-color: #EB4545;

$alt-text-color: #fff;
$inactive-text-color: #656565;
$border-color: #afafaf;
$active-color: #3FDAE4;
$accent-input-color: #55CD70;
$error-color: #EB4545;