include ../input/input
include ../select/select
include ../button/button

mixin Widget(isResultNeed)
    .widget__wrap.container
        .widget(id="widget-main")
            h3.widget__title Рентабельность
            .widget__main
                .widget__inputs.widget__col
                    +input('input_m', 'widget__input-wrap', 'number', 'start-capital', 'Начальный капитал (USDT):', 100, false)
                    +input('input_m', 'widget__input-wrap', 'number', 'start-percent-from-capital', 'Изнач. % от капитала:', 0.01, false)
                    +input('input_m', 'widget__input-wrap', 'number', 'steps-amount', 'Кол-во шагов (усреднений):', 1, false)
                    +input('input_m', 'widget__input-wrap', 'number', 'profit-in-percent', '% прибыли:', 1, false)
                    +input('input_m', 'widget__input-wrap', 'number', 'possibility-to-get-profit', 'Вер-ть получ. профита, %:', 0.1, false)
                if (isResultNeed)
                    .widget__result-wrap.widget__col
                        .widget__result-circle
                            .widget__result-label Рентабельность:
                            .widget__result-percent 0
        .widget(id="widget-main")
            h3.widget__title Открытие
            .widget__positions
                .widget__positions-couples
                    .widget__positions-couple
                        .widget__positions-couple-row.widget__positions-couple-row_center
                            +select('input_m', 'widget__input-wrap', 'type-of-position', 'Покупаем в:', [
                              {
                                value: 'short',
                                isSelected: false,
                                text: 'шорт'
                              },
                              {
                                value: 'long',
                                isSelected: true,
                                text: 'лонг'
                              }
                            ], 'Покупаем в:', true)
                        .widget__positions-couple-row
                            +input('input_s', 'widget__input-wrap', 'number', 'first-position-open-price', 'Цена открытия 1ой поз.:', 0.1, false)
                            +input('input_s', 'widget__input-wrap', 'number', 'position-amount', 'Объём поз.:', '', true)
                            +input('input_s', 'widget__input-wrap', 'number', 'position-in-real-USDT-open', 'Позиция в реал. USDT:', 0.1, false)
                            +select('input_s', 'widget__input-wrap', 'shoulder-1', 'Выберите плечо:', [
                              {
                                value: 10,
                                isSelected: true,
                                text: 10
                              },
                              {
                                value: 20,
                                isSelected: false,
                                text: 20
                              },
                              {
                                value: 30,
                                isSelected: false,
                                text: 30
                              },
                              {
                                value: 40,
                                isSelected: false,
                                text: 40
                              }
                            ], 'Плечо', false)
                            +input('input_s', 'widget__input-wrap', 'number', 'USDT-position-open', 'Позиция в USDT', '', true)
                            +button("Ок", "widget-open-button", 'widget__button', true)
                            //svg(id="widget-open-button").widget__icon
                            //    use(xlink:href="./assets/images/svg/symbol/sprite.svg#check")
        .widget(id="widget-main")
            h3.widget__title Усреднение
            .widget__positions
                .widget__positions-couples
                    .widget__positions-couple
                        .widget__positions-couple-row
                            +input('input_s', 'widget__input-wrap', 'number', 'market-price-averaging', 'Цена по рынку:', 100, false)
                            +input('input_s', 'widget__input-wrap', 'number', 'position-amount-to-extra-buy-averaging', 'Объем поз. дозакупки:', 1, true)
                            +input('input_s', 'widget__input-wrap', 'number', 'position-in-real-USDT-averaging', 'Позиция в реал. USDT:', 10, false)
                            +input('input_s', 'widget__input-wrap', 'number', 'shoulder-averaging', 'Плечо:', 10, true)
                            +input('input_s', 'widget__input-wrap', 'number', 'USDT-position-averaging', 'Позиция в USDT', 100, true)
                            +button("Ок", "widget-averaging-button", 'widget__button', true)
                            //svg(id="widget-averaging-button").widget__icon
                            //    use(xlink:href="./assets/images/svg/symbol/sprite.svg#check")
        .widget(id="widget-position-now")
            h3.widget__title Позиция сейчас
            .widget__positions
                .widget__positions-couples
                    .widget__positions-couple
                        .widget__positions-couple-row
                            +input('input_s', 'widget__input-wrap', 'number', 'market-price-position-now', 'Цена по рынку:', 0.1, false)
                            +input('input_s', 'widget__input-wrap', 'number', 'to-extra-buy-position-now', 'Объем поз. дозакупки:', '', true)
                            +input('input_s', 'widget__input-wrap', 'number', 'position-real-USDT-position-now', 'Позиция в реал. USDT:', '', true)
                            +input('input_s', 'widget__input-wrap', 'number', 'USDT-position-position-now', 'Позиция в USDT', '', true)
        .widget(id="widget-main")
            h3.widget__title Закрытие
            .widget__positions
                .widget__positions-couples
                    .widget__positions-couple
                        .widget__positions-couple-row.widget__positions-couple-row_center
                            +input('input_s', 'widget__input-wrap', 'number', 'market-price-closing', 'Цена по рынку:', 0.1, false)
                            +input('input_s', 'widget__input-wrap', 'number', 'position-amount-closing', 'Позиция в USDT:', '', true)
                        .widget__positions-couple-row
                            +input('input_s', 'widget__input-wrap input_accent', 'number', 'take-profit', 'Тейк-профит', '', true)
                            +input('input_s', 'widget__input-wrap input_accent', 'number', 'percent-of-take-profit', 'Тейк-профит, %', '', true)
                            +input('input_s', 'widget__input-wrap input_accent', 'number', 'stop-lose', 'Стоп-луз', '', true)
                            +input('input_s', 'widget__input-wrap input_accent', 'number', 'percent-of-stop-lose', 'Стоп-луз, %', '', true)
                            +input('input_s', 'widget__input-wrap input_accent', 'text', 'judgement', 'Продавать?', '', true)