.widget {
  padding: 20px;
  width: 1000px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}