.widget__positions {
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

  &-couple {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (max-width: 576px) {
    &-couple {
      flex-direction: column;
      &:not(:last-child) {
        position: relative;
        margin-bottom: 40px;
        &:after {
          position: absolute;
          content: '';
          left: 50%;
          bottom: -22px;
          width: 80%;
          height: 1px;
          transform: translateX(-50%);
          background-color: $border-color;
        }
      }
    }
  }
}